*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, input, select, textarea, button{

    font-family: 'Poppins', sans-serif;
}
body{
    background: #e5e5e5;
}
body::before{
    content: '';
    width: 100%;
    height: 368px;
    position: absolute; /*Ele fica sobreposto*/
    top: 0; /*Fica colado no topo*/
    left: 0; /*Fica colado no lado esquerdo*/
    z-index: -1; /* Faz o objeto ficar atrás*/
    background: black;
}
.page{
    width: 736px;
    margin: auto;
}
header{
    width: 319px;
}
header h1{
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    margin-top: 74px;
    margin-bottom: 24px;
    color: white;
}
header p{
    color: #42d3ff;
    font-size: 16px;
    line-height: 26px;
}
form{
    background: #fafafc;
    margin-top: 38px;
    border-radius: 8px 8px 0px 0px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.301);
}
fieldset{
    border: none;
   
}
fieldset legend{
    font-family: 'Archivo';
    font-weight: 600;
    font-size: 24px;
    line-height: 34px;
    border-bottom: 1px solid #E6E6F0;
    width: 100%;
    padding-bottom: 16px;
}
.campo{
    display: flex;
    flex-direction: column;
    
}
.campo label, .campocheckbox{
    margin-top: 24px;
    margin-bottom: 8px;
}
.campo label span{
    margin-left: 12px;
    font-size: 12px;
    line-height: 20px;
    color: #717171;
}
.campo input, textarea, select {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #b2b2bb;
    height: 40px;
    padding: 0px 15px;
    color: #717171;
}
.campo textarea{
    padding: 15px 15px;
    height: 150px;
}
.campo select{
    appearance: none;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' id='Outline' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath d='M18.71,8.21a1,1,0,0,0-1.42,0l-4.58,4.58a1,1,0,0,1-1.42,0L6.71,8.21a1,1,0,0,0-1.42,0,1,1,0,0,0,0,1.41l4.59,4.59a3,3,0,0,0,4.24,0l4.59-4.59A1,1,0,0,0,18.71,8.21Z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
    
}
.campocheckbox label{ /* Editar a label*/
    margin: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}
.campocheckbox label::before{ /*Colocar o elemento modificado da caixa checkbox*/
    content: '';
    width: 24px;
    height: 24px;
    border: 1px solid black;
    border-radius: 8px;
}
.campocheckbox input:checked + label::before{ /*Quando clicar aparecer o icone*/
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' id='Isolation_Mode' data-name='Isolation Mode' viewBox='0 0 24 24' width='20' height='20'%3E%3Cpath d='M7.8,21.425A2.542,2.542,0,0,1,6,20.679L.439,15.121,2.561,13,7.8,18.239,21.439,4.6l2.122,2.121L9.6,20.679A2.542,2.542,0,0,1,7.8,21.425Z'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;
}
.campocheckbox{ /*Controlar a posição do input padrão*/
    position: relative;
}
.campocheckbox input{ /*Aqui é pra deixar o botão original com opacidade zero*/
    position: absolute;
    width: 24px;
    height: 24px;
    opacity: 0;
}
.campocheckbox input:focus + label::before{ /*Uma linha aparecerá quando for navegação por teclado, para indicar que esta selecionado. Acessibilidade*/
    outline: 2px solid black;
}
.diaehora{
    display: flex;
    gap: 20px;
}
.diaehora > div:nth-child(1){
    width: 100%;
}
.botao{
    background: #d8d8d8;
    height: 136px;
    display: flex;
    margin-bottom: 100px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.301);
}
.botao input{
    width: 90%;
    height: 45px;
    margin: auto;
    border: none;
    border-radius: 8px;
    background: #2FD34C;
    color: #ffffff;
    font-size: 18px;
}
.botao input:hover{
    background: #1d8630;
    cursor: pointer;
}
input:invalid{
    border: 1px solid red;
}