*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.page{
    width: 1000px;
    margin: 65px auto 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}
nav h2{
    color: #36B0BB;
    font-weight: 800;
}
nav ul{
    list-style-type: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
}
nav ul a{
    text-decoration: none;
    color: #6b6b6b;
    font-weight: 700;
}
nav ul a:hover{
    color: #36B0BB;
    cursor: pointer;
}
main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text h1{
    font-size: 3em;
    margin-bottom: 40px;
}
.text h1 span{
    color: #36B0BB;
}
.text p{
    line-height: 30px;
    margin-bottom: 40px;
}
button{
    background-color: #47AD5D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 10px 20px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
button:hover{
    background-color: #276436;
    cursor: pointer;
}
footer{
    /*background-color: #36b0bb1a;*/
    padding: 20px;
    text-align: center;
}
footer a{
    text-decoration: none;
}
