*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    font-size: 1.6rem;
    background: linear-gradient(287.56deg, #10222b 0%, #A1C4FD 100%);
    
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.img{
    width: 40%;
    padding-right: 10rem;
}
.card{
    background: aliceblue;
    max-width: 40rem;
    padding: 4.8rem 6.4rem 6.4rem;
    
    border-radius: .6rem;
    box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
    
}
.title{
    color: rgb(66, 66, 66);
    margin-bottom: 3rem;
    position: relative;
}
.title::after{
    position: absolute;
    content: '';
    background-color: #90CAF9;
    width: 10rem;
    height: .3rem;
    bottom: 0;
    left: 0;
    border-radius: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
}
label{
    margin-bottom: 1rem;
}
form input{
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    border-radius: .5rem;
    border: none;
    background-color:  rgb(174, 189, 206);
    margin-bottom: 1rem;
}
form input:focus{
    outline: 1px solid #90CAF9;
}

form button{
    border: none;
    background: #90CAF9;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: .2rem;
    width: 100%;
    padding: 1.6rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 2.5rem;
}
form button:hover{
    background: #5589b1;
}
form button i{
    margin-left: 1rem;
}

/*pagina popup*/
.popUp-container.open{
    opacity: 1;
    visibility: visible;
}
.popUp-container{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: grid;
    place-content: center;
    opacity: 0;
    visibility: hidden;
}
.popUp{
    position: relative;
}
.popUp button{
    background: none;
    border: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    transition: transform 0.1s;
}
.popUp button:hover{
    transform: scale(1.2);
}

/*mensagem de alerta*/
.msgAlert.open{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.msgAlert{
    background: rgb(202, 3, 3);
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: bold;
    color: white;

    position: absolute;
    top: 0;
    width: 100%;

    opacity: 0;
    visibility: hidden;
    transform: translateY(-30px);
    transition: transform .3s;
}
.msgAlert i{
    margin-right: 1.5rem;
}